<!DOCTYPE html>
<html lang="en">
<head>
    <title>LASKUNAUTTI | Luo ja lähetä laskuja sekunneissa!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootswatch.min.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/custom.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ app.request.basepath }}/js/html5shiv.js"></script>
    <script src="{{ app.request.basepath }}/js/respond.min.js"></script>
    <![endif]-->

    <link rel="icon" type="image/ico" href="{{ app.request.basepath }}/img/favicon.ico">

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ path('homepage') }}" class="navbar-brand"><img height="40" src="{{ app.request.basepath }}/img/laskunautti.png"/></a>
        </div>
    </div>
</div>

<div class="container">

<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-12">
            <h1>LASKUTUS JA LASKUJEN LÄHETYS MUUTAMASSA SEKUNNISSA.</h1>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <p class="lead">Nyt voit luoda asiakkaillesi laskuja ja lähettää ne automaattisesti sähköpostitse ilman rekisteröitymistä ja täysin ilmaiseksi. Kokeile vaikka heti!</p>
    </div>
</div>

<br/>

{% for message in app.session.getFlashBag.get('info') %}
    <div class="row success-section">
        <div class="col-lg-12">
            <div class="save-success">
                <p class="lead">Lasku luotu ja ladattavissa osoitteessa <a href="{{ url('homepage') }}lasku/{{ message.id }}/{{ message.hash }}">{{ url('homepage') }}lasku/{{ message.id }}/{{ message.hash }}</a><br/></p>
            </div>
        </div>
    </div>
{% endfor %}

<div class="row">
<div class="col-lg-6">
    <form action="{{ path('homepage') }}" method="post" id="billform" class="bs-example form-horizontal">

        <div class="well">

            <legend>Lähettäjän tiedot</legend>

            <div class="form-group">
                <div class="col-lg-3 control-label"></div>
                <div class="col-lg-9">
                    <a class="function" id="load">Lataa tiedot</a>
                    <div id="loaded-success"></div>
                </div>
            </div>

            <div class="form-group">
                <label for="senderName" class="col-lg-3 control-label">Nimi</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control sender-type" id="senderName" name="senderName" placeholder="Lähettäjän etu- ja sukunimi">

                </div>
            </div>

            <div class="form-group">
                <label for="senderAddress" class="col-lg-3 control-label">Osoite</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control sender-type" id="senderAddress" name="senderAddress" placeholder="Lähettäjän katuosoite">

                </div>
            </div>

            <div class="form-group">
                <label for="senderZip" class="col-lg-3 control-label">Postinro</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control sender-type" id="senderZip" name="senderZip" placeholder="Lähettäjän postinumero">

                </div>
            </div>

            <div class="form-group">
                <label for="senderCity" class="col-lg-3 control-label">Kaupunki</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control sender-type" id="senderCity" name="senderCity" placeholder="Lähettäjän kaupunki">

                </div>
            </div>

            <div class="form-group">
                <label for="senderEmail" class="col-lg-3 control-label">Sähköposti</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control sender-type" id="senderEmail" name="senderEmail" placeholder="Lähettäjän sähköpostiosoite">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="sender-type-cb" id="senderSendEmail" checked> Lähetä kopio asiakkaalle lähetetystä ilmoituksesta
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="senderWww" class="col-lg-3 control-label">WWW</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control sender-type" id="senderWww" name="senderWww" placeholder="Lähettäjän kotisivujen osoite">
                </div>
            </div>

            <div class="form-group">
                <label for="senderYt" class="col-lg-3 control-label">Y-tunnus</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control sender-type" id="senderYt" name="senderYt" placeholder="Lähettäjän Y-tunnus">
                </div>
            </div>

            <div class="form-group">
                <label for="senderIban" class="col-lg-3 control-label">IBAN</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control sender-type" id="senderIban" name="senderIban" placeholder="Lähettäjän tilinumero IBAN-muodossa">
                </div>
            </div>

            <div class="form-group">
                <label for="senderSwift" class="col-lg-3 control-label">SWIFT/BIC</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control sender-type" id="senderSwift" name="senderSwift" placeholder="Lähettäjän pankkitunnus SWIFT/BIC-muodossa">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-3 control-label"></div>
                <div class="col-lg-9">
                    <a class="function" id="store">Tallenna tiedot</a>
                    <div id="saved-success"></div>
                </div>
            </div>

        </div>

        <div class="well">
            <legend>Maksajan tiedot</legend>

            <div class="form-group">
                <label for="payerName" class="col-lg-3 control-label">Maksaja</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="payerName" name="payerName" placeholder="Maksajan nimi">

                </div>
            </div>

            <div class="form-group">
                <label for="payerEmail" class="col-lg-3 control-label">Sähköposti</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="payerEmail" placeholder="Maksajan sähköpostiosoite">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="payerSendEmail" checked> Lähetä sähköposti uudesta laskusta tähän osoitteeseen
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="payerAddress" class="col-lg-3 control-label">Osoite</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="payerAddress" name="payerAddress"placeholder="Maksajan katuosoite">

                </div>
            </div>

            <div class="form-group">
                <label for="payerZip" class="col-lg-3 control-label">Postinro</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="payerZip" name="payerZip" placeholder="Maksajan postinumero">

                </div>
            </div>

            <div class="form-group">
                <label for="payerCity" class="col-lg-3 control-label">Kaupunki</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="payerCity" name="payerCity" placeholder="Maksajan kaupunki">

                </div>
            </div>
        </div>
        <div class="well">
            <legend>Laskun tiedot</legend>

            <div class="form-group">
                <label for="billNumber" class="col-lg-3 control-label">Laskun nro</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="billNumber" name="billNumber" placeholder="Laskun numero">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="createReference" checked> Luo viitenumero automaattisesti
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="billReference" class="col-lg-3 control-label">Viitenumero</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="billReference" name="billReference" placeholder="Laskun viitenumero">
                </div>
            </div>

            <div class="form-group">
                <label for="billDescription" class="col-lg-3 control-label">Kuvaus</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="billDescription" name="billDescription" placeholder="Kuvaus palvelusta, tuotteesta, yms.">
                </div>
            </div>

            <div class="form-group">
                <label for="billDueDate" class="col-lg-3 control-label">Eräpäivä</label>
                <div class="col-lg-9">
                    <select class="form-control" id="billDueDate" name="billDueDate">
                        <option value="0">HETI</option>
                        <option value="7">Viikon päästä</option>
                        <option value="14">Kahden viikon päästä</option>
                        <option value="21">Kolmen viikon päästä</option>
                        <option value="28" selected>Kuukauden päästä</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="billTotal" class="col-lg-3 control-label">Euro</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" id="billTotal" name="billTotal" placeholder="Euromäärä">

                </div>
            </div>

            <div class="form-group">
                <label for="billVat" class="col-lg-3 control-label">ALV</label>
                <div class="col-lg-9">
                    <select class="form-control" id="billVat" name="billVat">
                        <option>0 %</option>
                        <option>10 %</option>
                        <option>14 %</option>
                        <option selected>24 %</option>
                    </select>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="payerVatIncluded" checked> Annettu hinta sisältää arvonlisäveron
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <button id="preview" class="btn">Esikatsele</button>
                    <button id="submit-form" type="submit" class="btn btn-primary">Luo lasku</button>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="col-lg-4 col-lg-offset-1">

    <h2 style="margin-top: 0px;">Miten laskutus toimii?</h2>

    <p class="lead">
        Syötä kaavakkeeseen lähettäjän sekä maksajan tiedot. Järjestelmä luo annettujen tietojen perusteella laskun ja asiakkaalle lähetetään ilmoitus uudesta laskusta sähköpostitse. Sähköpostissa on linkki joka vie maksajan tälle sivustolle tarjoen suoraan tulostettavan version laskusta.
    </p>

    <h2>Mihin laskut tallennetaan?</h2>

    <p class="lead">
        Laskun tiedot tallennetaan tietokantaamme jolloin se on tulostettavissa milloin tahansa. Jokaisella laskulla on oma yksilöivä osoite jolla maksaja voi hakea laskun.
    </p>

    <h2>Miten lähettäjän tiedot tallennetaan?</h2>

    <p class="lead">
        Kun luot laskun, voit tallentaa omat tietosi "Lähettäjän tiedot" kaavakkeessa seuraavaa käyttöä varten, jolloin sinun ei tarvitse syöttää samoja tietoja uudelleen. Klikkaa <i><b>"Tallenna tiedot"</b></i>-linkkiä kun haluat tallentaa kenttien arvot seuraavaa kertaa varten. Klikkaamalla <i><b>"Lataa tiedot"</b></i>-linkkiä saat aikaisemmin tallentamasi tiedot kaavakkeeseen.
    </p>

    <h2>Tarjoatteko raportointia ja seurantaa?</h2>

    <p class="lead">
        Sivuston ilmaisversiossa ei ole mahdollisuutta raportointiin tai seurantaan. Lähitulevaisuudessa on luvassa versio jossa yritykset voivat luoda itsellensä profiilin, toimipisteitä, automatisoituja laskujen luonteja sekä monia muita laskutuksen nopeuttamiseen ja helppouteen keskittyviä toimintoja.
    </p>

    <h2>Mitä palvelu maksaa?</h2>

    <p class="lead">
        Ei mitään! Laskujen luontiin sekä niiden tulostamiseen ei liity mitään kustannuksia eikä kuluja. Palvelu on sinulle ja asiakkaillesi täysin ilmainen.
    </p>

</div>
</div>

<br/>

</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
<script src="{{ app.request.basepath }}/js/bootswatch.js"></script>
<script src="{{ app.request.basepath }}/js/jquery.validate.min.js"></script>
<script src="{{ app.request.basepath }}/js/app.js"></script>

<script>
    $().ready(function() {

        $( "#preview" ).bind( "click", function(e) {
            e.preventDefault();
            $("#billform").attr("action", "{{ path('preview') }}");
            $("#billform").attr("target", "BLANK");
            $("#billform").submit();
        });

        $( "#submit-form" ).bind( "click", function(e) {
            e.preventDefault();
            $("#billform").attr("action", "{{ path('save') }}");
            $("#billform").attr("target", "");
            $("#billform").submit();
        });
    });
</script>
</body>
</html>