<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>
        {% if billNumber is defined %}Lasku {{ billNumber }} | {% endif %}LASKUNAUTTI | Luo ja lähetä laskuja sekunneissa!
    </title>
</head>
<body>
    <style type="text/css">
        td {
            border: 1px solid black;

        }
        .nb {
            border: 0px solid black;
        }
        #invoice {
            position: relative;
            top: -600px;
        }

        @media print {
            #invoice {
                position: relative;
                top: -1100px;
            }
        }
    </style>

    <table width="100%" border="0" class="nb">
        <tr>
            <td align="center" class="nb">
            </td>
        </tr>
    </table>

    <table width="100%" border="0">
        <tr>
            <td align="center" class="nb">
                <table width="100%">
                    <tr>
                        <td align="left" class="sisalto nb">
                            <h2>LASKU</h2>

                            {% if preview is defined %}
                                <p class="preview-note">Tämä on laskun esikatselu. Laskua ei ole vielä tallennettu.</p>
                            {% endif %}

                            {% if sample is defined %}
                                <p class="sample-note">Tämä on esimerkkilasku. Tätä laskua ei voi käyttää maksusuoritukseen.</p>
                            {% endif %}

                            <table width="800" cellpadding="4" cellspacing="0" class="nb">
                                <tr>
                                    <td width="10%" height="60" valign="top">Saajan tilinumero</td>
                                    <td width="40%" valign="top">
                                        <table class="nb" width="100%">
                                            <tr><td class="nb">IBAN:</td><td class="nb">{{ senderIban }}</td></tr>
                                            <tr><td class="nb">BIC-koodi:</td><td class="nb">{{ senderSwift }}</td></tr>
                                        </table>
                                    </td>
                                    <td colspan="3" rowspan="3" valign="top">
                                        <h2>Tilisiirto</h2>
                                        Maksu välitetään saajalle vain Suomessa Kotimaan maksuvälityksien yleisten ehtojen mukaisesti ja vain saajan ilmoittaman tilinumeron perusteella.
                                        {% if billNumber is defined %}
                                        <br/><br/><br/><br/>
                                        Laskun nro: {{ billNumber }}
                                        {% endif %}
                                        {% if billCreatedDate is defined and billCreatedDate != '0000-00-00 00:00:00' %}
                                            <br/>
                                            Päiväys: {{ billCreatedDate|date("j.n.Y") }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td height="60" valign="top">Saaja</td>
                                    <td valign="top">

                                        {% if senderName is defined %}
                                            {{ senderName }}<br/>
                                        {% endif %}

                                        {% if senderAddress is defined %}
                                            {{ senderAddress }}<br/>
                                        {% endif %}

                                        {% if senderZip is defined %}
                                            {{ senderZip }} {{ senderCity }}<br/>
                                        {% endif %}

                                        {% if senderYt is defined %}
                                            <br/>Y-tunnus: {{ senderYt }}<br/>
                                        {% endif %}

                                        {% if senderWww is defined %}
                                            {{ senderWww }}<br/>
                                        {% endif %}

                                        {% if senderEmail is defined %}
                                            {{ senderEmail }}<br/>
                                        {% endif %}

                                    </td>
                                </tr>
                                <tr>
                                    <td height="60" valign="top">Maksaja</td>
                                    <td valign="top">
                                        {% if payerName is defined %}
                                            {{ payerName }}<br/>
                                        {% endif %}

                                        {% if payerAddress is defined %}
                                            {{ payerAddress }}<br/>
                                        {% endif %}

                                        {% if payerZip is defined %}
                                            {{ payerZip }} {{ payerCity }}<br/>
                                        {% endif %}

                                        {% if payerYt is defined and payerYt is not null %}
                                            <br/>Y-tunnus: {{ payerYt }}<br/>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">Viitenumero</td>
                                    <td valign="top">{{ billReference }}</td>
                                    <td width="10%" valign="top">Eräpäivä</td>
                                    <td valign="top">{{ billDueDate|date("j.n.Y") }}</td>
                                    <td valign="top">Euro {{ billTotalWithVat|number_format(2, '.', ',') }}</td>
                                </tr>
                            </table>

                            <br/><br/><br/>
                            <b>Laskuerittely</b>
                            <br/><br/>

                            <table width="800" border="0">
                                <tr><td class="nb">{{ billDescription }}</td><td class="nb">{{ billTotal|number_format(2, '.', ',') }} &euro;</td></tr>

                                {% if billVat == '-1' %}
                                    <tr><td class="nb">Ei arvonlisäverovelvollinen</td><td class="nb">&nbsp;</td></tr>
                                    <tr><td colspan="2" class="nb"><hr></td></tr>
                                    <tr><td class="nb"></td><td class="nb">{{ billTotal|number_format(2, '.', ',') }} &euro;</td></tr>
                                {% else %}
                                    <tr><td class="nb">Arvonlisävero {{ billVat }} %</td><td class="nb">{{ billVatAmount|number_format(2, '.', ',') }} &euro;</td></tr>
                                    <tr><td colspan="2" class="nb"><hr></td></tr>
                                    <tr><td class="nb"></td><td class="nb">{{ billTotalWithVat|number_format(2, '.', ',') }} &euro;</td></tr>
                                {% endif %}
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    {% if sample is defined %}
        <img id="invoice" src="{{ app.request.basepath }}/img/barcode.png" />
    {% else %}
        <img id="invoice" src="data:image/png;base64, {{ billBarcode }}" />
    {% endif %}

</body>
</html>
